# IntelliJ IDEA
.idea/

# NetBeans
/nbproject/private/
/nbproject/build/
/nbproject/genfiles/
/nbproject/priv/
/nbproject/build-impl.xml
/nbproject/ide-cfg/

# Compiled Java class files
*.class

# Compiled JavaFX application artifacts
out/

# Compiled bytecode
*.jar

# Log files
*.log

# Generated JavaFX deployment files
build/javafxports/

# Compiled JavaFX application resources
build/classes/

# NetBeans project files
build/netbeans-build/

# macOS hidden files
.DS_Store

# Eclipse project files
.classpath
.project
.settings/
bin/
